*.c linguist-language=cpp
*.h linguist-language=cpp
*.html binary
*.exe binary
*.json binary
*.ttf binary
*.sca binary
*.so binary
*.a binary
*.dylib binary 
*.js linguist-language=cpp
ParticlesLinux binary
ParticlesOSX binary
.suo binary
wglChAoSP/ export-ignore
wglChAoSP.Debug/ export-ignore